:root {
}

.container {
}

.menu {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 25%;
    height: auto;
    background-color: rgb(255, 255, 255);
    background-image: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.button {
    flex-grow: 1;
    flex-basis: auto;
}

.stats {
    position: absolute;
    bottom: 100px;
    background-color: rgba(34, 34, 34, 0.44);
    width: 20%;
    flex-direction: row;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    min-width: 300px;
}

.playerImage {
    background-image: url("project://database/Assets/Images/BattleImage.png?fileID=2800000&guid=4dd5d94492b4dd645ab08657f4f9c6d3&type=3#BattleImage");
    width: 100px;
    height: 100px;
}

.level {
    position: absolute;
    bottom: -4px;
    left: 7%;
    font-size: 24px;
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
}

.valueContainer {
    top: -23px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 22px;
    -unity-text-outline-width: 0.3px;
    -unity-text-outline-color: rgb(0, 0, 0);
    -unity-font-style: bold;
}

.HpBar {
    position: absolute;
    width: 80%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text {
    color: rgb(255, 255, 255);
    -unity-text-outline-width: 1px;
    -unity-font-style: bold;
    -unity-text-outline-color: rgb(0, 0, 0);
    font-size: 20px;
}

.textBoxContainer {
    width: 80%;
    position: absolute;
    bottom: 0;
    height: 50%;
    background-color: rgba(166, 166, 166, 0);
    align-items: center;
    align-self: auto;
    justify-content: center;
}

.textbox {
    background-color: rgba(29, 29, 29, 0.8);
    width: 80%;
    height: 300px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-left-width: 4px;
    border-left-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-top-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
}

.SkillDistroWindow {
    align-items: center;
    justify-content: center;
    height: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(209, 209, 209);
    border-right-color: rgb(209, 209, 209);
    border-top-color: rgb(209, 209, 209);
    border-bottom-color: rgb(209, 209, 209);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    -unity-font-style: bold;
}

.btnOff {
    opacity: 0.3;
}
